body{
    margin: 0;
    padding: 20px;
    font-family: "Verdana";
    background-color: #A3DBF3;
    display: grid;
}

.list
{
    background-color: rgba(3, 27, 137, 0.22);
    border-radius: 20px;
    padding: 0 0 20px 0;
    text-align: center;
    width: calc(33% - 70px);
    box-shadow: 5px 5px 10px 0px #3498db;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;

}
.item-list
{
    overflow-y: scroll;
    height: 250px;

}
.item-list::-webkit-scrollbar
{
    width: 8px;
    height: 6px;
    background-color: #2a579e;
}
.item-list::-webkit-scrollbar-thumb
{
    width: 8px;
    height: 6px;
    background-color: #3498db;
}
.lobby_list_title
{
    margin: 0 0 20px 0;
    padding: 20px;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.lobby_item
{
    margin: 0 auto;
    width: 260px;
    background-color: #D2FFDA;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lobby_item:last-child
{
    margin-bottom: 0;
}